// GLOBAL
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
    background-color: #EAE8E8;
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    
    a,p {
        font-size: 1.1rem;
    }
}

#gatsby-focus-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    max-height: 100vh;

    footer {
        position: absolute;
        bottom: 1rem;
        width: 40rem;
        display: flex;
        justify-content: center;
    }

    main {
        width: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > * {
            margin-bottom: 1rem;
        }

        .portrait-container {
            border: 2px black solid;
            background-color: white;
            width: 16rem;
            height: 16rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .intro-wysiwyg {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1,h3 {
                margin: 0;
            }
        }

        .menus-container {
            height: 100%;
            width: 60%;
            display: flex;
            justify-content: space-evenly;

            .menu-item {
                text-decoration: none;
                padding: 1rem;
                border: 1px solid black;
                background-color: white;
                width: 4rem;
                display: flex;
                justify-content: center;
                color: black;

                &:hover {
                    cursor: pointer;
                    outline: 1px black solid;
                }
            }
        }

        .social-icons {
            width: 30%;
            display: flex;
            justify-content: space-evenly;

            & > * {
                width: 1.75rem;
                height: 1.75rem;

                &:hover {
                    cursor: pointer;
                    animation: jello 0.5s both;

                }
                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }

        }
    }
}

@keyframes jello {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  @media(max-width: 645px) {
    #gatsby-focus-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 100vh;
        max-height: 100vh;
        width: 100%;
        margin: auto;
    
        main {
            width: 100%;
            .menus-container {
                display: none;
            }
        }
        footer {
            position: absolute;
            bottom: 1rem;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
  }